<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Robot World Launch -->
  <include file="$(find udacity_bot)/launch/udacity_world.launch"/>

  <!-- AMCL Launch -->
  <include file="$(find udacity_bot)/launch/amcl.launch"/>
  
  <!-- Navigation Launch -->
  <node pkg="udacity_bot" type="navigation_goal" name="navigation_goal" output="screen"/>

</launch>